{% extends 'base.html.twig' %}

{% block title %}LogIn{% endblock %}

{% block body %}
    {#min-h-full flex justify-center items-center py-12 px-4 sm:px-6 lg:px-8 bg-gray-300 w-2/5 rounded#}
    <div class="min-h-full flex justify-center items-center py-16"
             id="contenedor">
        <div class="flex flex-col justify-center items-center">

            <img class="mb-10 w-2/5" src="{{ asset('logo_title.svg') }}" alt="Logo"/>

            <div class="max-w-md w-1/2 pt-4 pb-10 mx-48 sm:px-6 lg:px-8 bg-gray-300 rounded-lg shadow-lg">
                <form class="space-y-7" action="#" method="POST">
                    <h2 class="text-orange-500 text-center font-semibold text-3xl">Login</h2>

                    {% if error %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-3 py-1 rounded relative" role="alert">
                        {{ error.messageKey | trans(error.messageData, 'security')}}
                    </div>
                    {% endif %}

                    <div class="-space-y-px">
                        <div>
                            <label for="email-address" class="sr-only">Email</label>
                            <input id="email-address" name="email" type="email" autocomplete="email"
                                   required class="appearance-none rounded-none relative block w-full px-3 py-2
                                   border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md
                                   focus:outline-none focus:ring-orange-500 focus:border-orange-500
                                   focus:z-10 sm:text-sm" placeholder="Email">
                        </div>
                        <div>
                            <label for="password" class="sr-only">Contraseña</label>
                            <input id="password" name="password" type="password"
                                   autocomplete="current-password" required class="appearance-none rounded-none
                                   relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500
                                   text-gray-900 rounded-b-md focus:outline-none focus:ring-orange-500
                                   focus:border-orange-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border
                        border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-400
                        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 mt-8 -mb-2">
                          Iniciar sesión
                        </button>
                    </div>

                    <div class="text-sm text-center">
                        <a href="{{ path('app_register') }}" class="font-medium text-orange-600 hover:text-orange-400">
                            ¿Aún no tienes una cuenta? Regístrate
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
