{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% trans_default_domain 'EasyAdminBundle' %}

{% if ea.crud.currentAction == 'detail' or not field.customOptions.get('renderAsSwitch') %}
    <span class="badge {{ field.value == true ? 'badge-boolean-false' : 'badge-boolean-true' }}">
        {{ field.value == true ? '<em class="fas fa-ban"></em>' : '<em class="fas fa-check"></em>' }}
    </span>
{% endif %}
