{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% trans_default_domain 'EasyAdminBundle' %}

{% if ea.crud.currentAction == 'detail' or not field.customOptions.get('renderAsSwitch') %}
    <span class="badge {{ field.value == true ? 'badge-boolean-true' : 'badge-boolean-false-gray' }}">
        {{ field.value == true ? '<i class="fas fa-file-signature"></i>' : 'SIN FIRMAR' }}
    </span>
{% endif %}
