.btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active:focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover
{
    background-color: var(--orange-400);
}

.ea-dark-scheme .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):active:focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):focus, .btn-primary:not(:disabled):not(.disabled):not(.btn-link):not(.btn-danger):hover
{
    background-color: var(--orange-400);
}
.actions>.action-delete>.action-label {
    background-color: var(--red-500);
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
}
.actions>.action-delete>.action-label:hover {
    background-color: var(--red-400);
}

.ea-dark-scheme .dropdown-menu a:hover {
    color: var(--true-gray-700);
    --dropdown-icon-color: var(--true-gray-600);
}
.ea-dark-scheme #titulo_logo_menu {
    color: rgb(48,48,48);
}

#new-DeliveryNote-form {
    margin-bottom: 75px;
}
.badge-boolean-false-gray {
    background-color: var(--true-gray-300);
}

.ea-dark-scheme .badge-boolean-false-gray {
    color: var(--true-gray-700);
}

.form-widget .form-help {
    color: var(--true-gray-500);
}

.markdown-preview {
    margin-top: 10px;
    border: 1px solid var(--true-gray-300);
    border-radius: 5px;
    padding: 5px;
    color: var(--true-gray-500);
}

.markdown-preview > .h1, >.h2, >.h3, >.h4, >.h5, >.h6, >h1, >h2, >h3, >h4, >h5, >h6{
    color: var(--true-gray-500);
}

:root {
    --color-primary: var(--orange-500);
    --resize-handler-hover-bg: var(--orange-400);
    --form-switch-checked-bg: var(--orange-500);
    --button-primary-bg: var(--orange-500);
    --form-type-check-input-checked-bg: var(--orange-500);
    --pagination-active-bg: var(--orange-400);
    --sidebar-menu-active-item-bg: var(--orange-100);
    --text-color-dark: var(--orange-500);
    --link-hover-color: var(--orange-200);
    --badge-boolean-false-bg: var(--red-500);
    --badge-boolean-false-color: white;
    --badge-boolean-true-bg: var(--green-500);
    --badge-boolean-true-color: white;
    --dropdown-link-hover-bg: var(--orange-200);
    --link-color: var(--orange-500);
}
.ea-dark-scheme {
    --color-primary: var(--orange-500);
    --resize-handler-hover-bg: var(--orange-400);
    --form-switch-checked-bg: var(--orange-500);
    --form-type-check-input-checked-bg: var(--orange-500);
    --button-primary-bg: var(--orange-500);
    --pagination-active-bg: var(--orange-400);
    --sidebar-menu-active-item-bg: var(--orange-100);
    --text-color-dark: var(--orange-500);
    --link-hover-color: var(--orange-200);
    --badge-boolean-false-bg: var(--red-500);
    --badge-boolean-false-color: white;
    --badge-boolean-true-bg: var(--green-500);
    --badge-boolean-true-color: white;
    --dropdown-link-hover-bg: var(--orange-100);
    --form-control-bg: var(--true-gray-100);
    --form-input-text-color: var(--true-gray-800);
    --link-color: var(--orange-400);
}