{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Firmar {% endblock %}

{#{% block configured_javascripts %}
    <script>
        function save() {

    </script>
{% endblock %}#}

{% block main %}

    <div class="" style=" width:500px; height:400px">

        <canvas id="signature-pad" class="signature-pad "></canvas>

        <div style="display: flex; align-items: baseline; gap: 10px; margin-top: 10px;">
            <button class="btn btn-primary" id="save" onclick="save()">
                <span class="fas fa-save"></span> Guardar
            </button>
            <button class="btn btn-danger" id="clear">
                <span class="fas fa-trash-can"></span> Borrar
            </button>
            <a href="{{ ea_url().setController('App\\Controller\\Admin\\DeliveryNoteCrudController')
                .setAction('detail').setEntityId(dnId) }}">
                <button class="btn btn-outline-primary">
                    <span class="fa fa-arrow-left"></span> Atrás
                </button>
            </a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
    <script type="text/javascript" src="{{ asset('controllers/signature_pad_controller.js') }}"></script>

    <script>
        var canvas = document.getElementById('signature-pad');
        var signaturePad = new SignaturePad(canvas, {
            backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
        });
        function save() {
            if (signaturePad.isEmpty()) {
                window.alert("Firme antes de guardar, por favor.");
            }
            var data = signaturePad.toDataURL();

            $.ajax({
                type: "POST",
                url: "base",
                data: {
                    'img': data,
                    'dnId': {{ dnId }}
                }
            }).done(function (o) {
                console.log('saved');
                //window.location.href = data.replace("image/png", "image/octet-stream");
                /*const link = document.createElement('a');
                link.download = {{ dnId}} + '_signature.png';
                link.href = data;
                link.click();
                link.delete;*/
            });
        }
    </script>




{% endblock %}